*{
    margin: 0;
    padding: 0;
}

.color-de-fondo{
    background-color: rgb(234, 228, 220);
}

#header{
    box-sizing: border-box;
    background-color: white;
    padding: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.logo{
    margin-right: auto;
    margin-left: 5%;
    margin-top: 20px;
    width: 200px;
}

#header .menu{
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    display: flex;
    justify-content:space-between;
    font-family: "koulen";
    gap: 15px;
    font-size: larger;
    }

header nav ul li a {
        text-decoration: none;
        color: black;
    }

header nav ul li a:hover {
        color: black
        background-color rgb(245, 236, 226);
}

.nav-item .nav-link{
    text-decoration: none;
    color: black;
    text-shadow: none;
    text-decoration-line: none;
    box-shadow: none;
    font-family: "koulen";
    font-size: 20px;
}


div ul li {
    text-decoration: none;
    
}

.titulo{
    box-sizing: border-box;
    width: 100%;
    padding-top: 120px;
    margin-top: 100px;
    font-family: "league spartan";
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-style: bold;

}

.texto-opiniones{
    font-family: "poppins";
    font-style: italic;
    font-size: 25px;

}

.foto-inicio{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.info{
    background-color: none;
    align-items: center;
    align-content: center;
    color: rgb(11, 52, 11);
    font-family: "montserrat";
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    font-weight: 900;

}


#subtitulo{
    font-family: "league spartan";
    margin-bottom: 100px;
    padding: 2%;
    background-color: rgb(54, 69, 54);
    color: rgb(234, 228, 220);
    margin-top: 15%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.grid-area2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 1fr;
    font-size: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.foto{
    border: 0ch;
    margin-right: auto;
    width: 500px;
    display: flex;
}

.location{
    margin-bottom: 100px;
}

.contacto{
    font-family: "abel";
}

.titulo2{
    margin-top: 180px;
    margin-bottom: 3%;
    font-family: "koulen";
    margin-left: 20px;
}

.servicios{
    font-family: "poppins";
    font-size: 25px;
    background-size: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    border-bottom: 10;
    text-decoration: none;
    list-style: none;
}

#check-circle{
    width: 30px
}

.foto-servicios{
    padding-top: -100px;
    width: 100%;
}
.menu{
    font-family: "koulen";
    gap: 5px;
    text-decoration: none;
}

.texto{
    font-family: "poppins";
    margin-left: 30px;
}

.informacion{
    list-style: none;
    background-color: rgb(54, 69, 54);
    color: rgb(234, 228, 220);
    padding-left: 20px;
    width: 700px;
    font-family: poppins;
}

.foto-galeria{
    width: 200px;
}


.d-block{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.carousel-control-next-icon{
   background-color: black;
}

.carousel-control-prev-icon{
    background-color: black;
}

.container{
    font-family: "josefin sans";
    font-size: 45px;
    font-kerning: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#footer{
    background-color: white;
    margin-top: 200px;
    padding: 50px;
    font-family: "league spartan";
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer .footer-redes{
    width: 30px;
    display: flex;
    gap: 10px; 

}

#footer .footer-texto{
    display: flex;
}

.grid-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    padding-top: 40px;
}


@media (max-width: 549px) {
    #header {
        background-color: rgb(234, 228, 220);
        width: 100%;
    }
    #header .menu{
        width: 50%;
    }
    #header .menu{
        width: 20%;
    }
  
    #footer {
        background-color: rgb(234, 228, 220);
        width: 100%;
    }
    #footer .footer-texto{
        width: 30%;
    }
    #footer .footer-redes{
        width: 30%;
    }
   

    }


