*{
    margin: 0;
    padding: 0;
}

.color-de-fondo{
    background-color: rgb(234, 228, 220);
}



.logo{
    margin-right: auto;
    margin-left: 5%;
    margin-top: 20px;
    width: 200px;
}



header nav ul li a {
        text-decoration: none;
        color: black;
    }

header nav ul li a:hover {
        color: black
        background-color rgb(245, 236, 226);
}

.nav-item .nav-link{
    text-decoration: none;
    color: black;
    text-shadow: none;
    text-decoration-line: none;
    box-shadow: none;
    font-family: "koulen";
    font-size: 20px;
}


div ul li {
    text-decoration: none;
    
}

.dropdown-item{
    font-family: "koulen";
}

.navbar{
            display: flex;
            align-content: flex-end;
            justify-content: end;
}

.titulo{
    box-sizing: border-box;
    width: 100%;
    margin-top: 100px;
    font-family: "league spartan";
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-style: bold;

}

.texto-opiniones{
    font-family: "poppins";
    font-style: italic;
    font-size: 25px;

}

.foto-inicio{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.info{
    background-color: none;
    align-items: center;
    align-content: center;
    color: rgb(11, 52, 11);
    font-family: "montserrat";
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    font-weight: 900;
    line-height: 40px;

}


#subtitulo{
    font-family: "league spartan";
    margin-bottom: 100px;
    padding: 2%;
    background-color: rgb(54, 69, 54);
    color: rgb(234, 228, 220);
    margin-top: 15%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.grid-area2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 1fr;
    font-size: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.grid-area2 h2{
    font-size: 28px
}

.foto{
    border: 0ch;
    margin-right: auto;
    width: 500px;
    display: flex;
}

.location{
    margin-bottom: 100px;
}

.contacto{
    font-family: "abel";
}

.titulo2{
    margin-top: 30px;
    margin-bottom: 3%;
    font-family: "koulen";
    display: flex;
    align-content: center;
    justify-content: center;
}

.servicios{
    font-family: "poppins";
    font-size: 25px;
    background-size: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    border-bottom: 10;
    text-decoration: none;
    list-style: none;
}

#check-circle{
    width: 30px
}

.foto-servicios{
    width: 100%;
}
.menu{
    font-family: "koulen";
    gap: 5px;
    text-decoration: none;
}

.texto{
    font-family: "poppins";
    margin-left: 30px;
}

.informacion{
    list-style: none;
    background-color: rgb(54, 69, 54);
    color: rgb(234, 228, 220);
    padding-left: 20px;
    width: 700px;
    font-family: poppins;
}

.d-block{
    size: 100px;
}



.d-flex{
    width: 2px;
}


.carousel-control-next-icon{
   background-color: black;
}

.carousel-control-prev-icon{
    background-color: black;
}

.container{
    display: flex;
    justify-items: end;
    justify-content: space-between;
    align-content: space-between;
}

.footer{
    background-color: rgb(145, 143, 143);
    margin-top: 200px;
    padding: 50px;
    font-family: "league spartan";
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.footer-texto{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-redes1{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    padding-top: 40px;
}


@media (max-width: 549px) {
  
    .footer {
        background-color: rgb(116, 116, 116);
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    
    }
   .footer-texto{
        display: flex;
        align-content: center;
        justify-content: center;
        color: rgb(25, 25, 25);
    }
    .footer-redes{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        width: 30px;
        color: aliceblue;
        border-color: beige;
        filter: brightness(100%);
    }

    .footer-redes1{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        gap:10px;
    }

    .foto-servicios{
        margin-top: 0px;
    }

    .titulo2{
        font-size: 20px;
    }

   .servicios{
       font-size: 15px;
       line-height: 30px;
   }
   #check-circle{
       width: 20px;
   }

    }


